.navigation{
  width: 65%;
  margin: 0 auto;
  background-color: lightblue;
}
.navbar-brand{
  font-size: 15px;
  padding-right: 200px;
}
.nav{
  font-size: 10px;
}

.navbar{
  background-color: lightblue !important;

}

.a{
  margin: 0 auto;
  width: 80%;
}
i{
  padding-left: 90px;
}
.computer{
  margin: 0 auto;
  width: 65%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: lightblue;
  text-align: center;
}
h1{
  padding: 50px;
  padding-right: 10px;
  color: white;

}
body{
  background-color: black;
}

.mac{
  width: 50%;
  padding-top: 20px;
}
.middle{
  width: 65%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 20px;

}

.li{
  text-align: center;
}

.flat{
  width: 90%;
text-align: center;
padding-top: 35px;
padding-left: 5px;

}
H6{
  font-size: 8px;
  text-align: center;
}
.seconds{
  background-color: lightgreen;
  width: 65%;
margin: 0 auto;
}
.recent{
  padding-top: 10px;
  color: white;
  text-align: center;

}
.btn{
  font-size: 8px;
}


.nav-link{
  color: white;
}

.light{
  padding-top: 40px;
  width: 50%;
  padding-bottom:20px;

}
.desc{
  color: white;
  text-align: center;
  font-size: 8px;
  padding-bottom: 30px;
}
.browser{
  width: 70%;
  padding-top: 60px;
  padding-bottom: 25px;
}
.q{
  font-size: 8px;

  text-align: center;
}
.nav-item{
  padding-right: 10px;
  margin-right: 15px;
}
.road{
  width: 100%;
  height: 87px;
}
.tree{
  width: 100%;
}
.sp{
  width: 100%;
  height: 87px;

}
.pics{

  padding-top: 20px;
  text-align: center;
  padding-bottom: 50px;
}
.pic{
  padding-bottom: 40px;
}
.show{
  padding-top: 20px;
  text-align: center;
  padding-bottom: 40PX;
}
.sw{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 65%;
  background-color: lightgrey;
  margin: 0 auto;
}
.t{
  width: 100%;
  height: 85px;

}
.rip{
  font-size: 8px;
}
.layerd{
  font-size: 10px;

}
.divide{
  padding-bottom: 10px;
  width: 80%;
  color: black;
}
.meet{
background-color: lightpink;
width: 65%;
margin: 0 auto;
padding-bottom: 20px;
padding-top: 10px;
}
.team{
  background-color: white;
}
.ceo{
font-size: 10px;
text-align: center;
font-weight: bold;
margin-bottom: 0;
}
.date{
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}
.job{
  font-size: 7px;
  text-align: center;
  margin-bottom: 2px;
}
.ic{
  text-align: center;
  padding-bottom: 5px;
}
.fa{

  padding-left: 0px;
display: inline;
}
.fa-facebook-official{
  color: blue;
}
.fa-twitter{
  color: lightblue;
}
.fa-pinterest{
  color: red;
}
.post{
  background-color: lightblue;
  width: 65%;
  margin: 0 auto;
}
.really{
  font-size: 8px;
  text-align: center;
  margin-bottom: 0;
}
.in{
  padding-bottom: 10px;
  text-align: center;
  font-size: 8px;
}
.contact{
  width: 65%;
  background-color: rgb(104,104,104);
  margin: 0 auto;
}
textarea{
  width: 99.9%
}
input{
  width: 99.9%;
  margin-bottom: 5px;
}
.end{
  color: black;
  width: 70%;
  padding-bottom: 2px;
  margin-bottom: 0;
}
.shows{
text-align: center;
}
.credits{
font-size: 12px;
text-align: center;

}
.
.icons{
  margin-right: 30px;
}
li{
  display: inline-block;
}
.lower{
  margin: 0;
  padding: 0;
  width: 50%;
}
.en{
  padding-left: 250px;
}
@media only screen and (max-width: 1330px) {
    .navbar-brand{
        padding-right: 160px;
    }
}
@media only screen and (max-width: 1220px) {
    .navbar-brand{
        padding-right: 130px;
    }
}
@media only screen and (max-width: 1154px) {
    .navbar-brand{
        padding-right: 100px;
    }
}
@media only screen and (max-width: 1228px) {
    .q{
      font-size: 6px;
    }
}
